@model ProductVM
@{
    ViewData["Title"] = "Product";
}

<!--content-->
<div class="product">
	<div class="container">
		<div class="col-md-3 product-price">				  
			<partial name="_Categories.cshtml" model="Model.Categories" />			
			<partial name="_BestSellers.cshtml" model="Model.BooksBestSellers" />
			<div class="clearfix"></div>
		</div>
		<div class="col-md-9 product-price1">
			<div class="col-md-5 single-top">	
				<div class="flexslider">
				  <ul class="slides">
					<li data-thumb="images/si.jpg">
					  <img src="@Model.Book.ImageUrl" />
					</li>
				  </ul>
				</div>
			</div>	
			<div class="col-md-7 single-top-in simpleCart_shelfItem">
				<div class="single-para">
					<h4>@Model.Book.Title 
						@if (Model.Book.Status == @Status.InStock.ToString().ToLower())
						{
							<span class="text-success" style="font-size: 16px;">@Model.Book.Status</span>
						}
						else
						{
							<span class="text-danger" style="font-size: 16px;">@Model.Book.Status</span>
						}
					</h4>
					<ul style="list-style: none">
						<li><span>author: @Model.Book.Author</span></li>
						<li><span>isbn: @Model.Book.ISBN</span></li>
						<li><span>publisher: @Model.Book.Publisher, @Model.Book.Edition Edition (@Model.Book.PublicationYear)</span></li>
						<li><span>category: @Model.Book.Category.Name</span></li>
					</ul>
					<div class="star-on">
						<ul class="star-footer">
							<li><a href="#"><i></i></a></li>
							<li><a href="#"><i></i></a></li>
							<li><a href="#"><i></i></a></li>
							<li><a href="#"><i></i></a></li>
							<li><a href="#"><i></i></a></li>
						</ul>
						<div class="review">
							<a href="#"> 1 customer review </a>								
						</div>
					</div>
					<div class="clearfix"></div>							
					@if (Model.Book.DiscountRate > 0 && Model.Book.Status == @Status.InStock.ToString().ToLower())
					{
						<h5 class="item_price" style="text-decoration: line-through">@String.Format("{0:C}", @Model.Book.Price)</h5>
						<h5 class="item_price" style="border-bottom: 1px solid #C4C3C3;">
							@String.Format("{0:C}", @Model.Book.OfferingPrice) <span style="background: red; color:white;padding:5px;border-radius:6px;font-size:12px;">Save @Model.Book.DiscountRate%</span>
						</h5>
					}
					else
					{
						<h5 class="item_price" style="border-bottom: 1px solid #C4C3C3;">@String.Format("{0:C}", @Model.Book.Price)</h5>
					}

					<div class="clearfix"></div>

					@if (Model.Book.Status == @Status.InStock.ToString().ToLower())
					{
						<button type="submit" Onclick='addToCart("@Model.Book.BookId")' class="add-cart item_add">ADD TO CART</button>						
					}
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="bottom-product single-para">
				<h2>Description:</h2>
				<p style="font-size:16px;">@Model.Book.Description.TrimEnd('.')</p>
			</div>

			<div class=" bottom-product">
				<div class="col-md-4 bottom-cd simpleCart_shelfItem">
					<div class="product-at ">
						<a href="#"><img class="img-responsive" src="~/images/pi3.jpg" alt="">
							<div class="pro-grid">
								<span class="buy-in">Buy Now</span>
							</div>
						</a>	
					</div>
					<p class="tun">It is a long established fact that a reader</p>
					<a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a>						
				</div>
				<div class="col-md-4 bottom-cd simpleCart_shelfItem">
					<div class="product-at ">
						<a href="#"><img class="img-responsive" src="~/images/pi1.jpg" alt="">
							<div class="pro-grid">
								<span class="buy-in">Buy Now</span>
							</div>
						</a>	
					</div>
					<p class="tun">It is a long established fact that a reader</p>
					<a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a>
				</div>
				<div class="col-md-4 bottom-cd simpleCart_shelfItem">
					<div class="product-at ">
						<a href="#"><img class="img-responsive" src="~/images/pi4.jpg" alt="">
							<div class="pro-grid">
								<span class="buy-in">Buy Now</span>
							</div>
						</a>	
					</div>
					<p class="tun">It is a long established fact that a reader</p>
					<a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>

@section Scripts{

	<!--initiate accordion-->
	<script>
		$(function() {
			var menu_ul = $('.menu > li > ul'),
			        menu_a  = $('.menu > li > a');
			menu_ul.hide();
			menu_a.click(function(e) {
			    e.preventDefault();
			    if(!$(this).hasClass('active')) {
			        menu_a.removeClass('active');
			        menu_ul.filter(':visible').slideUp('normal');
			        $(this).addClass('active').next().stop(true,true).slideDown('normal');
			    } else {
			        $(this).removeClass('active');
			        $(this).next().stop(true,true).slideUp('normal');
			    }
			});
			
		});
	</script>

	<!-- FlexSlider -->
	<script src="~/js/jquery.flexslider.js"></script>

	<!-- Can also be used with $(document).ready() -->
	<script>
		$(window).load(function() {
		  $('.flexslider').flexslider({
			animation: "slide",
			controlNav: "thumbnails"
		  });
		});
	</script>

	<script>
		function addToCart(id){
			var data = { "bookId": id };

			$.ajax({
				url: '@Url.Action("Cart", "Product")',
				data: data,
				type: "POST",
				dataType: "json",
				success: function(data){
					if (data.success)
						location.reload();
					else
						alert("Problem has occurred..!");
				}
			})
		}
	</script>
}