@model IEnumerable<Book>

@{
	ViewData["Title"] = "Home Page";
	var firstLineBooks = Model.Take(3);
	var secondLineBooks = Model.Skip(3);
}

@section Banner{
	<!-- banner -->
	<div class="banner">
		<div class="container">
			<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider">
					<li>					
						<div class="banner-text">
							<h3>Lorem Ipsum is not simply dummy  </h3>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
							<a href="single.html">Learn More</a>
						</div>
				
					</li>
					<li>
						<div class="banner-text">
							<h3>There are many variations </h3>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
							<a href="single.html">Learn More</a>
						</div>
					
					</li>
					<li>
						<div class="banner-text">
							<h3>Sed ut perspiciatis unde omnis</h3>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
							<a href="single.html">Learn More</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
}

<!-- content-top -->
<div class="content-top">
	<h1>NEW RELEASED</h1>
	<div class="grid-in">
		@foreach (var book in firstLineBooks)
		{
			<div class="col-md-4 grid-top">
				<a asp-controller="Product" asp-action="Index" asp-route-id="@book.BookId" class="b-link-stripe b-animate-go  thickbox">
					<img class="img-responsive" src="@book.ImageUrl" alt="@book.Title">
					<div class="b-wrapper">
						<h3 class="b-animate b-from-left b-delay03 ">
							<span>@book.Category.Name</span>
						</h3>
					</div>
				</a>
				<p style="line-break:anywhere"><a href="single.html">@book.Title</a></p>
			</div>
		}
		<div class="clearfix"> </div>
	</div>
	<div class="grid-in">
		@foreach (var book in secondLineBooks)
		{
			<div class="col-md-4 grid-top">
				<a asp-controller="Product" asp-action="Index" asp-route-id="@book.BookId" class="b-link-stripe b-animate-go  thickbox">
					<img class="img-responsive" src="@book.ImageUrl" alt="@book.Title">
					<div class="b-wrapper">
						<h3 class="b-animate b-from-left b-delay03 ">
							<span>@book.Category.Name</span>
						</h3>
					</div>
				</a>
				<p style="line-break:anywhere"><a href="single.html">@book.Title</a></p>
			</div>
		}
		<div class="clearfix"> </div>
	</div>
</div>

<!-- content-top-bottom -->
<div class="content-top-bottom">
	<h2>Featured Collections</h2>
	<div class="col-md-6 men">
		<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
			<img class="img-responsive" src="images/t1.jpg" alt="">
			<div class="b-wrapper">
				<h3 class="b-animate b-from-top top-in   b-delay03 ">
					<span>Lorem</span>
				</h3>
			</div>
		</a>
	</div>
	<div class="col-md-6">
		<div class="col-md1 ">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img class="img-responsive" src="images/t2.jpg" alt="">
				<div class="b-wrapper">
					<h3 class="b-animate b-from-top top-in1   b-delay03 ">
						<span>Lorem</span>
					</h3>
				</div>
			</a>
		</div>
		<div class="col-md2">
			<div class="col-md-6 men1">
				<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
					<img class="img-responsive" src="images/t3.jpg" alt="">
					<div class="b-wrapper">
						<h3 class="b-animate b-from-top top-in2   b-delay03 ">
							<span>Lorem</span>
						</h3>
					</div>
				</a>
			</div>
			<div class="col-md-6 men2">
				<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
					<img class="img-responsive" src="images/t4.jpg" alt="">
					<div class="b-wrapper">
						<h3 class="b-animate b-from-top top-in2   b-delay03 ">
							<span>Lorem</span>
						</h3>
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

@section Scripts{
	<script>
		$(function () {
			$("#slider").responsiveSlides({
			auto: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			pager: true,
			});
		});
	</script>
}